<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc.dll" version="2.1.0" targetFramework="net452" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net452" />
  <package id="Npgsql" version="3.0.4" targetFramework="net452" />
</packages>