<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CS-Script.bin" version="3.12.2.1" targetFramework="net461" />
  <package id="DotLiquidForkForZKWeb" version="1.0.1" targetFramework="net461" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net461" />
  <package id="ZKWeb" version="1.0.0-beta-3c" targetFramework="net461" />
</packages>