<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net452" />
  <package id="Microsoft.Data.Sqlite" version="1.0.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.3.0-beta1" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.3.0-beta1" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.3.0-beta1" targetFramework="net461" />
  <package id="MySql.Data" version="7.0.3-DMR" targetFramework="net452" />
  <package id="Npgsql" version="3.1.7" targetFramework="net461" />
  <package id="SQLite" version="3.12.3" targetFramework="net461" />
  <package id="SQLite.Native" version="3.12.3" targetFramework="net461" />
</packages>